<header class="bg-green-600 text-white p-4 flex justify-between items-center">
        <div class="text-2xl font-bold">
            <a href="/" class="block w-full"> 
                <button>
                    <i class="fa-solid fa-seedling mr-4"></i>Grocconnect
                </button>
            </a>
        </div>
        <nav>
            <a href="#" class="text-white hover:text-green-200">About</a>
        </nav>
    </header>