<div class="mb-3" *ngIf="isLoggedIn()">
    <button (click)="addSeafood()" class="btn btn-success font-medium rounded-lg shadow-sm hover:shadow-md transition-all" style="background-color: #38a169;">
        <i class="fas fa-plus-circle mr-2"></i> Add Seafood
    </button>
</div>

<div class="row bg-gray-200 p-3 rounded-lg shadow-inner">
    <div *ngFor="let seafood of seafoods" class="col-md-2 mb-3"> 
        <app-seafood-card [seafood]="seafood" class="d-block h-100"></app-seafood-card>
    </div>
</div>