<nav class="bg-green-600 navbar navbar-expand navbar-light"> 
    <a class="navbar-brand" href="#">
        <i class="fa-solid fa-seedling mr-4"></i>Grocconnect
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span> 
    </button> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
        <div class="navbar-nav"> 
            <a class="nav-link active" routerLink="">Grocconnect
                <span class=" sr-only ">(current)</span>
            </a> 
        </div> 
    </div> 
    <div *ngIf="isLoggedIn()">
    <div class="ms-auto" id="navbarNavAltMarkup">
        <div class="form-group m-0">
          <select class="form-select shadow-sm border-2 rounded-lg p-2 w-64" 
                  [(ngModel)]="selectedComponent" 
                  (change)="onComponentChange()">
            <option value="produce">Produce Listing</option>
            <option value="dairy">Dairy Listing</option>
            <option value="grocery">Grocery Listing</option>
            <option value="meat">Meat Listing</option>
            <option value="seafood">Seafood listing</option>
            <option value="bakery">Bakery Listing</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="navbar-end" *ngIf="isLoggedIn()"> 
        <button class="btn btn-outline-light" (click)="onLogout()">
            <i class="fas fa-sign-out-alt mr-2"></i>Log Out
        </button> 
    </div> 
 </nav>
